<section class="paddles">
  <img src="/images/{{paddle.filename}}" alt="{{paddle.description}}">
  <div class="paddle-details">
    <h3>{{paddle.title}}</h3>
    <p>By: {{paddle.maker}}</p>
  </div>
</section>